<!DOCTYPE html>
<html>
<head>
	{{ if eq .Title .Site.Title }}
	<title>{{.Title}}</title>
	{{ else }}
	<title>{{.Title}} - {{.Site.Title}}</title>
	{{ end }}
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link href='https://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
	<link rel="icon" href="/img/icon.png" />
</head>
<body>
<header>
<div class="center-block">
	<div id="header-logo">
		<img src="/img/icon.png" id="header-icon" />3005 RCACC
	</div>
</div>
</header>